@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    background-color: #061144;
}

h1, h2{
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 40px;
}

#como-lo-haremos{
    background-color: #205dbf;
    border-radius: 10px;
    padding: 10px 0px;
}

#como-lo-haremos, #titulo{
    font-family: "Work Sans", sans-serif;
}

a :hover{
    opacity: 0.7;
}

a{
    color:#A6B9D6;
    text-decoration: none;
}


p, ul, .collapse{
    margin: 25px;
}


.content {
    font-size: 16px; /* Tamaño de letra predeterminado */
    color:#D8BFA0;
}
.content img{
    width: 500px;
    display: block;
    margin:auto;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 15px; /* Tamaño de letra en pantallas pequeñas */
    }
    .content {
        font-size: 14px; /* Tamaño de letra en pantallas pequeñas */
    }
    .content img{
        width:300px;
        display: block;
        margin:auto;
    }
}
