@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    background-color: #061144;
}

h1, h2{
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
}

a :hover{
    opacity: 0.7;
}

#l1, a{
    
    font-family: "Work Sans", sans-serif;
    color:#D8BFA0;
    text-decoration: none;
}


p, ul{
    margin: 25px;
}


.header {
    font-family: "Work Sans", sans-serif;
    font-weight: 350;
    font-size: larger;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #061144;
    color: #D8BFA0;
    padding: 0;
    text-align: center;
    z-index: 999;
    letter-spacing: 5px;
}

.content {
    margin-top: 60px; /* Para evitar que el contenido se superponga con el título fijo */
    font-size: 16px; /* Tamaño de letra predeterminado */
    color:#D8BFA0;
}
.content img{
    width: 500px;
    display: block;
    margin:auto;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 15px; /* Tamaño de letra en pantallas pequeñas */
    }
    .content {
        margin-top: 80px; /* Margen mayor en pantallas pequeñas */
        font-size: 14px; /* Tamaño de letra en pantallas pequeñas */
    }
    .content img{
        width:300px;
        display: block;
        margin:auto;
    }
}
